{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>| Tree House</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Tree|House</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{% url 'index'%}">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="{% url 'contact-us'%}">CONTACT</a></li>
                </ul>
            </div>
            
        </div> 
        <div class="content">
            {% block content %}
            <h1>Paradise<br><span>Premium</span> <br>Gadgets</h1>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque 
                 expedita atque eveniet <br> quis nesciunt. Quos nulla vero consequuntur, fugit nemo ad delectus 
                <br> a quae totam ipsa illum minus laudantium?</p>

                <div class="login">
                    
                    <button class="btnn"><a href="#">Login</a></button>
                    <button class="btnn"><a href="#">Sign up</a></button>

                </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>

