{% extends 'home/index.html' %}

{% block content %}

<h1>Contact Us</h1>
<form method="post" class="contact-us-form">
    {% csrf_token %}
    <div class="form-group">
        <label class="contact-us-label" for="{{ form.first_name.id_for_label }}">First Name</label>
            {{ form.first_name }}
    </div>
    <div class="form-group">
        <label class="contact-us-label" for="{{ form.last_name.id_for_label }}">Last Name</label>
            {{ form.last_name }}
    </div>
    <div class="form-group">
        <label class="contact-us-label" for="{{ form.email_address.id_for_label }}">Email Address</label>
            {{ form.email_address }}
    </div>
    <div class="form-group">
        <label class="contact-us-label" for="{{ form.message.id_for_label }}">Message</label>
            {{ form.message }}
    </div>
    <div class="contact-us-button">
        <button type="submit">Send</button>
    </div>
</form>
{% endblock %}
