{% extends 'home/base.html' %}

{% block content %}
<div class="contributors">
    <h1 id="our-contributors">Our Contributors </h1>
	    <div class="founder-container">
		    <div class="card">
			    <img src="media/founders_pics/ebuka1.jpeg" alt="Founder 1">
			    <h2>Ebuka Chima</h2>
			    <p>Co-Founder & CEO</p>
			    <p>Ebuka is an experienced entrepreneur with a background in tech startups. He co-founded our company with the mission to revolutionize the industry.</p>
		    </div>
		    <div class="card">
			    <img src="media/founders_pics/sunday.jpg" alt="Founder 2">
			    <h2>Sunday Ugwu</h2>
			    <p>Co-Founder & COO</p>
			    <p>Sunday brings a wealth of experience in operations and management to our team. He is responsible for ensuring that our company runs smoothly and efficiently.</p>
		    </div>
		    <div class="card">
			    <img src="media/founders_pics/yvonne.jpg" alt="Founder 3">
			    <h2>Yvonne Aniagu</h2>
			    <p>Co-Founder & CTO</p>
			    <p>Yvonne is a technology expert with a passion for innovation. She oversees the development of our products and ensures that they meet the highest standards of quality.</p>
		    </div>
		    <div class="card">
			    <img src="media/founders_pics/jude1.jpeg" alt="Founder 4">
			    <h2>Jude Okorie</h2>
			    <p>Co-Founder & CFO</p>
			    <p>Jude is a financial guru with a keen eye for detail. He manages our company's finances and helps to ensure that we stay profitable and sustainable.</p>
		    </div>
		    <div class="card">
			    <img src="media/founders_pics/jeremy.jpg" alt="Founder 5">
			    <h2>Jeremia Friday</h2>
			    <p>Co-Founder & CMO</p>
			    <p>Jeremia is a marketing whiz with a deep understanding of customer behavior. He leads our company's marketing efforts and helps to build our brand and reputation.</p>
		    </div>
	    </div>
</div>
{% endblock %}