{% extends 'home/base.html' %}

{% block content %}
<h2 id="auth">Login</h2>
<form method="post" class="container">
    {% csrf_token %}
    <div>
        <label for="{{ form.email.id_for_label }}">Email Address</label>
        {{ form.email }}
    </div>
    <div>
        <label for="{{ form.password.id_for_label }}">Password</label>
        {{ form.password }}
    </div>
    <div class="auth-submit">
        <button type="submit">Login</button>
        <h5>Don't have an account? <a href="{% url 'signup'%}"> Sign Up</a></h5>
    </div>
</form>
{% endblock %}